extend layout
block content
    form(class='form-signin')
        h2(class='form-signin-heading')= title
        input(class='form-control' type="text" name="username" placeholder="Username" id='username' required autofocus)
        input(class='form-control' type="password" name="password" placeholder="Password" id='password' required)
        button(class='btn btn-lg btn-primary' type="submit" id="login") Log in
        a(href='/register' class='btn btn-lg btn-success') Register
    br
    a(href="/secret" class='btn btn-lg btn-danger' id='secret') Go to secret page

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../client.js')