extend layout
block content
    table(class='table table-bordered')
        thead
            tr
                th ID
                th Username
                th Token
        tbody
            each user in data
                tr
                    td= user.id
                    td= user.name
                    td= user.token
    form(action="/logout" method="post")
        input(type="submit" value="Logout")
