<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Oving 10 - Login</title>
    </head>

    <body>
        <h1>Encrypted login</h1>
        <form method="POST">
            <input type="text" placeholder="User Name" name="uname" autocomplete="false" required>
            <br>
            <input type="password" placeholder="Password" name="pword" required>
            <br>
            <input type="submit" value="Log in">
            <a href="register">Register user</a>
        </form>
    </body>
</html>


