<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Oving 10 - Register</title>
    </head>

    <body>
        <h1>Encrypted registration</h1>
        <form method="POST">
            <input type="text" placeholder="User Name" name="uname" autocomplete="false" required>
            <br>
            <input type="password" placeholder="Password" name="pword" required>
            <br>
            <input type="password" placeholder="Repeat password" name="pword_repeat" required>
            <br>
            <input type="submit" value="Register user">
            <a href="/">Log in</a>
        </form>
    </body>
</html>


