<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Oving 10 - Register</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        
    </head>

    <body>
        <h1>Encrypted registration</h1>

        <input type="text" placeholder="User Name" name="uname" id="username" autocomplete="false" required>
        <br>
        <input type="password" placeholder="Password" name="pword" id="password" required>
        <br>
        <input type="password" placeholder="Repeat password" name="pword_repeat" id="password_repeat" required>
        <br>
        <button onclick="register()" type="submit">Register user</button>
        <button onclick="location.href='/'">Back to log in</button>

        <script>            
            function generateHash(password, salt) {
                var options={keySize: 512/32, iterations: 4096};
                return CryptoJS.PBKDF2(password, salt, options).toString();
            }
            
            var register = function() {
                var password = $('#password').val();
                var salt = $('#username').val();
                var hash = generateHash(password, salt);
                console.log("Hash from client: " + hash);
                if(password == $('#password_repeat').val() && salt != "") {
                    $.post({
                        url: "register",
                        data: JSON.stringify({"hash":hash, "salt":salt}),
                        contentType: "application/json",
                        success: function(data) {
                            alert("Registered successful! Token: " + data.token);
                        }
                    });
                } else {
                    alert("Error registering. Try again!");
                }
            }
        </script>
    </body>
</html>


